.xl67
	{
	text-align:center;
	background:#FEF8DA;
}
.xl68
	{
	text-align:center;
	background:#FEF5CF;
}

.xl70
	{
	text-align:center;
	background:#FBFED1;
	
	}

.xl80
	{

	
	text-align:center;
	background:#FCD5B4;
	
	}
.xl81
	{
	background:#FCD5B4;
	}
.xl82
	{

	
	text-align:center;
	background:#DAEEF3;
	
	}
.xl83
	{
	background:#DAEEF3;
	}
.xl84
	{

	
	text-align:center;
	background:#F2DCDB;
	
	}
.xl85
	{
	background:#F2DCDB;
	}
.xl86
	{
	text-align:center;
	background:#DAEEF3;
	
	}
.xl87
	{

	
	text-align:center;
	background:#B8CCE4;
	
	}
.xl88
	{
	background:#B8CCE4;
	}
.xl89
	{

	
	text-align:center;
	background:#D8E4BC;
	
	}
.xl90
	{
	background:#D8E4BC;
	}
.xl91
	{

	
	text-align:center;
	background:#E5FF9B;
	
	}
.xl92
	{
	background:#E5FF9B;
	}
.xl93
	{

	
	text-align:center;
	background:#FFFF99;
	
	}
.xl94
	{
	text-align:center;
	background:#FFFF99;
	}
.xl95
	{
	text-align:center;
	background:#FFCCFF;
	
	}
.xl96
	{
	background:#FFCCFF;
	}
.xl97
	{
	text-align:center;
	background:#F2DCDB;
	}
.xl98
	{
	text-align:center;
	background:#B8CCE4;
}
.xl99
	{
	text-align:center;
	background:#DAEEF3;
}
.xl100
	{
	text-align:center;
	background:#D8E4BC;
}
.xl101
	{
	text-align:center;
	background:#E5FF9B;
}
.xl102
	{
	text-align:center;
	background:#FFFF99;
}
.xl103
	{
	text-align:center;
	background:#FCD5B4;}
.xl104
	{
	text-align:center;
	background:#FFCCFF;
}
